<meta charset="UTF-8"/>
<meta name="viewport" 
      content="width=device-width, initial-scale=1.0"/>
<title>Loja Web</title>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
   integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="    
   crossorigin="anonymous"></script>
<link rel="stylesheet" referrerpolicy="no-referrer" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="/css/style.css">